[2015-08-14 22:57] BlackstoneEngineering opened #4 "armcc build fails"
Error from yt target frdm-k64f-gcc

[code]

[2015-08-17 17:50] bridadan opened #6 "README says to edit file in yotta_modules directory"
This line instructs the user to edit a source file in /yotta_modules: https://github.com/ARMmbed/mbed-client-example-6lowpan/blame/9ae9e19f2fed2044d56aa3977c054f47c2e5271b/README.md#L71

I've been told in the past that we are highly discouraging this, so this should probably be removed. Is there a way to break out this functionality in a function or something?

[2015-08-17 22:01] bridadan opened #7 "Error programming mbed 6lowpan 2.4ghz gateway"
![mbed_6lowpan_copy_errpr_os_x_mavericks](https://cloud.githubusercontent.com/assets/3123977/9317326/9bda80b6-44ef-11e5-8e8f-54bdc58a6d71.jpg)

I received this error when programming the mbed 6lowpan 2.4ghz gateway with the given binary on Mac OS X 10.9.2 Mavericks. The flashed binary failed to run properly and had to be flashed on a Windows 7 machine.

[2015-08-20 15:32] #6 closed, assigned to nobody

[2015-08-26 13:06] #4 closed, assigned to nobody

[2015-08-28 16:36] MarceloSalazar opened #19 "Border Router is not registering in mDS"
This is an important requirement, we need to make sure that the BR _does_ register in mDS when using all possible configurations (6LoWPAN 2.4ghz, sub-ghz and Thread binaries).

If something goes wrong (BR, end-node or host PC are not working properly), one of the first things to do, is to double-check whether the BR is working correctly, e.g. by checking if it's registered in mDS.

Please do enabl

[2015-08-31 20:48] bridadan opened #20 "Thread endpoint registers with mDS but resources can be read"
I can get a Thread endpoint to register with mDS and the resources are listed correctly. When I click "Read" for any of the resources I don't get any results. Checking the console output of the Connected Home app gives a "410 error" for each resource. The endpoint is listed in the mDS admin console, but the endpoint is STALE and no resources are listed.

[2015-08-31 21:25] bridadan opened #21 "6lowpan subghz fails to register with mDS"
Using static setup on Mac OS X 10.10.5

[2015-09-01 09:51] #19 closed, assigned to nobody

[2015-09-03 08:44] #7 closed, assigned to nobody

[2015-09-15 09:03] markus-becker-tridonic-com opened #23 "Example fails to compile for F429."
The compilation for the F429 fails with

[code]

For the K64F this works, since that target has a dependency on lwip, which adds the correct include paths. Shall I prepare a pull request to add that dependency for F429 as well, or should that lwip dependency be removed from the 6lowpan example? Then this target needs to add (at least) the includes for ```mbed-client-example-6lowpan/yotta_modules/c

[2015-09-15 12:19] artokin commented on #23
At the moment this example application supports only K64F and unfortunately the lwip stack is included to this application even though it is not really needed by this example application. @bremoran would you please help with the this issue?

[2015-09-15 12:24] markus-becker-tridonic-com commented on #23
Forgot to say that we have this solved by including lwip for F429 and could contribute that. The correct solution would however be to have the includes corrected and not depend on lwip.

[2015-09-15 12:31] bremoran commented on #23
@artokin Doing this correctly requires some changes to the k64f target and the socket abstraction layer.  I'll look into it.

[2015-09-18 19:47] hwaldman commented on #23
I get the following errors when trying to build for K64f with gcc:
C:\work\temp\MBED\CodeDrops\beta\thread_example\mbed-client-example-6lowpan>yt b
uild > scrap.txt
error: mbed-drivers does not meet specification ~0.7.0 required by mbed-6lowpan-
eventloop-adaptor
error: minar does not meet specification ~0.7.0 required by sockets
error: core-util does not meet specification ~0.1.2 required by sock

[2015-09-18 20:23] hwaldman opened #24 "fail to build for K64F"
I get the following errors when trying to build for K64f with gcc:
 C:\work\temp\MBED\CodeDrops\beta\thread_example\mbed-client-example-6lowpan>yt b
 uild > scrap.txt
 error: mbed-drivers does not meet specification ~0.7.0 required by mbed-6lowpan-
 eventloop-adaptor
 error: minar does not meet specification ~0.7.0 required by sockets
 error: core-util does not meet specification ~0.1.2 required b

[2015-09-21 08:21] bremoran commented on #23
@hwaldman, I will need to see the output of ```yt ls``` to be able to help any further.

[2015-09-21 08:36] artokin commented on #24
I'm sorry, application dependency chain is not up to date and that is why the build fails. Pull requests have been made to several repositories and hopefully we get this problem solved soon.

[2015-09-21 11:58] artokin commented on #24
Module dependencies are updated and the build should work now. @hwaldman, would you please verify in your environment?

[2015-09-21 18:56] hwaldman commented on #24
It builds now, thanks.

[2015-09-21 18:57] hwaldman commented on #23
I re-posted this as a new issue and it got fixed. Thanks.

[2015-09-22 06:16] #24 closed

[2015-09-22 06:21] artokin commented on #23
Here is link to the re-posted issue https://github.com/ARMmbed/mbed-client-example-6lowpan/issues/24.

[2015-09-25 11:04] devran01 opened #26 "Example fails to send packets"
Example fails to send packets and reports "send() not supported with SOCKET_DGRAM!".
Detailed log:
[INFO][m6LND]: Start 6LoWPAN ND Bootstrap
[DBG ][m6LND]: app_parse_network_event() 0
[INFO][m6LND]: 6LoWPAN ND bootstrap ready
[DBG ][m6LND]: ND Access Point: fd00:ff1:ce0b:a5e0:0:ff:fe00:e50e
[DBG ][m6LND]: ND Prefix 64: fd:00:0f:f1:ce:0b:a5:e0
[DBG ][m6LND]: GP IPv6: fd00:ff1:ce0b:a5e0:fec2:3d00:4:

[2015-09-25 11:47] artokin commented on #26
6LoWPAN doesn't support send() for UDP sockets. mbed-client-mbed-os has been updated to use send() method for data sending. Either we need to add send() support for 6LoWPAN IP stack or modify mbed-client-mbed-os to use send_to().

[2015-09-28 14:02] artokin commented on #26
This error is corrected by version `1.0.6` of https://github.com/ARMmbed/mbed-client-mbed-os.

[2015-09-28 14:02] #26 closed

[2015-10-09 09:46] markus-becker-tridonic-com commented on #24
The dependencies are not yet completely fixed (or broken again) in the yotta registry:

[code]

This is the current dependency tree:
[code]

The dependency on core-util has to be >0.2.0, which seems to be satisfied by mbed-drivers >0.9.0, which in turn seems to be satisfied by mbed-client-mbed-os 1.0.7.

[2015-10-13 09:57] tjankow opened #28 "Fail to build for FRDM-K64F"
I'm trying to build the example (commit 193dff6) for FRDM-K64F and I'm facing following error:
[code]
Outout of "yt list":
[code]

I think this issue is strongly related to #23.

[2015-10-14 06:37] artokin commented on #28
The problem seems to happen only in windows environment, the example seems to work in ubuntu. Trying to investigate what is causing the problem.

[2015-10-14 06:49] tjankow commented on #28
Forgot to mention that earlier - I'm running on Ubuntu 14.04.

[2015-10-14 07:19] artokin commented on #28
It looks like ```sal``` is not pulling ```sal-stack-lwip ```.

```yt ls``` in working ubuntu 14.04 environment is as follows:
[code]

```yt ls``` in windows where problem occurs:
[code]

@bremoran , would you please help in this issue?

[2015-10-14 07:38] SeppoTakalo commented on #20
Btw. What version of mDS are you running? I had some issues with 2.2 and now I starting to work with demo server on public IPv6. However, I need to use it through DTLS so more work to do.

[2015-10-14 08:09] tjankow commented on #28
I checked one more time my environment , because It sounded somehow weird that yotta wasn't downloading some components. Apparently I had outdated yotta installed, updating it to v0.8.4 solved the problem.

[2015-10-14 10:47] artokin commented on #28
Excellent, updating yotta solved the problem in windows environment as well.

[2015-10-14 10:47] #28 closed

[2015-10-14 23:09] bridadan commented on #20
@SeppoTakalo This was a fairly old issue and I unfortunately don't have the hardware with me to test and replicate. It would have been 2.2 or 2.3 though

[2015-10-15 15:09] rainierwolfcastle commented on #23
http://jira-dev0.cambridge.arm.com/browse/ONME-1698

[2015-10-15 15:10] rainierwolfcastle commented on #21
http://jira-dev0.cambridge.arm.com/browse/ONME-1699

[2015-10-15 15:10] rainierwolfcastle commented on #20
http://jira-dev0.cambridge.arm.com/browse/ONME-1700

[2015-10-16 15:38] rainierwolfcastle commented on #23
ARM Internal Ref: ONME-1990

[2015-10-16 15:38] rainierwolfcastle commented on #21
ARM Internal Ref: ONME-1991

[2015-10-16 15:38] rainierwolfcastle commented on #20
ARM Internal Ref: ONME-1992

[2015-10-16 15:53] tabarr commented on #20
I am running into the same exact problem with my setup. My setup is the Atmel gateway running static IP connecting to a K64F client unit. The client unit links successfully to the gateway, and I can initially pull information from the client on the HomeConnected browser page. But after a short time, the client stops sending messages and the gateway marks the client as "STALE". Then I start getting

[2015-10-22 14:16] bremoran commented on #23
I have now changed SAL to import dependencies via yotta config.  LwIP can be disabled by setting an appropriate flag in application level configuration:

[code]

The cmsis dependency is still a problem.  There is an open PR for this issue: https://github.com/ARMmbed/sal/pull/31

[2015-10-23 13:36] ErkkiMehtala opened #30 "Source file settings unclear"
Client side configuration -part:
  There is told in /source/lwm2mclient.cpp line 28 should be MBED_DEVICE_CONNECTOR_URI,
  which is nowhere but there is in same line &MBED_SERVER_ADDRESS. It is not clearly told
   should it be changed. So should
  &MBED_SERVER_ADDRESS = coap://2607:f0d0:3701:9f::20:5684 ?

Setting Certificate for the application -part
"Copy the created security credentials to file

[2015-10-23 15:01] simonqhughes commented on #30
ARM Internal Ref: ONME-2013

[2015-10-26 16:46] ErkkiMehtala opened #31 "Error prints / not able to read resources with device connector"
Here some errors whic came when testing with instructions from Readme.txt (1GHz radios, 6lowban)
After reset, in beginning was error 10

In https://connector-test-sl.dev.mbed.com/
I tried to read resources form Device connnector API console quite many times.
I was able to read endpoint itseld and it showed list of resources.
But any deeper request to resources returned http errors 402 or 404
all t

[2015-10-26 16:48] rainierwolfcastle commented on #31
ARM Internal Ref: ONME-2018

[2015-10-27 09:28] ErkkiMehtala commented on #31
Testing now with tread 2.4GHz. First all worked fine, using buttons and asking values from server.
After a while, when asking resources from server, there started to come error 10 again
(like was situation in earlier 6lowban test). Just this time timeout error came mostly.

I was able to read endpoint, but not any resources inside of it.

[DBG ][ns_sal]: ns_sal_socket_send_to()
[DBG ][ns_wrap]: ns

[2015-10-27 17:48] SeppoTakalo commented on #31
Fixed error handling in https://github.com/ARMmbed/mbed-client-example-6lowpan/commits/TechCon-release

[2015-10-27 17:48] #31 closed

[2015-10-28 07:06] ernotormikoski opened #34 "Server response: 410 (Gone) in mbed Device Connector Server is seen when testing mbed-client-example-6lowpan with Windows Yotta"
When testing this application in Yotta Windows application registeration/ unregisteration to mbed Device Connector Server works fine and also Test/0/S works. But there is problem in testing /Test/0/D. Wanted integer cannot be read for device to server (Server response: 410 (Gone) error message is seen in mbed Device Connector Server).

[2015-10-28 07:25] ernotormikoski commented on #34
Please ignore this. Browser cache cleaning helped this problem. Now works fine.

[2015-10-28 07:25] #34 closed

[2015-10-28 11:53] ErkkiMehtala commented on #30
This part is now clear, and issue can be closed.

[2015-10-28 12:02] #30 closed

[2015-10-29 15:13] SeppoTakalo opened #35 "Does not work with ARMCC in Thread mode."
If I compile the example application for target frdm-k64f-gcc, everything works.

If I compile the application with target frdm-k64f-armcc, I see that the node does not join the network.

I see output like this from serial port:
[code]
Then the bootstrap seems to take forewer to complete.

After bootstrap: (2minutes later)
[code]

I can send Wireshark capture of the event, seems that I cannot atta

[2015-10-30 07:33] artokin opened #36 "Reconnection fails after using example for ~12 minutes"
Example application is working fine about 12 minutes but then the device is trying to reconnect again but reconnection fails.

The log snipplet after using example about 12 minutes:
[DBG ][mbedclient]: update_resource() 56
[DBG ][ns_wrap]: SOCKET_DATA, sock=1, bytes=50
[DBG ][ns_wrap]: SOCKET_TX_DONE, 48 bytes sent
[DBG ][ns_wrap]: SOCKET_TX_DONE, 97 bytes sent
[DBG ][ns_wrap]: SOCKET_DATA, sock=1

[2015-10-30 10:19] SeppoTakalo commented on #21
Cannot be replicated with current version. Most probably IPv6 routing issue.

We do not support the static environment anymore, we use only the public Connector service.

[2015-10-30 10:19] #21 closed

[2015-10-30 10:26] SeppoTakalo opened #37 "Reconnections fail after 3 attempts."
When running the application on 6LoWPAN network it re-creates the interface classes after each network failures, this causes the re-connections to start failing after 3 re-connections.

After this, I will constantly see:
[code]

How to re-produce:
1. Modify application so that when receiving object_registered callback, you destroy the connection and restart the registration proses.
2. Run applicat

[2015-10-30 10:52] SeppoTakalo commented on #37
CC: @yogpan01 @artokin @juhhei01

[2015-10-30 11:41] yogpan01 commented on #37
mbed client is using mbed OS socket and when any application deletes mbed client instance, it will call mbedSocket destructor, it is the responsibility of underlying porting layer to ensure that proper cleanup happens.

[2015-10-30 11:43] SeppoTakalo commented on #37
Yes, of course. I just CC:d that to you also because you might be interested, and you should be familiar with this issue.
We continue the investigation to find to root cause for this.

[2015-10-30 13:25] rainierwolfcastle commented on #37
ARM Internal Ref: ONME-2072

[2015-10-30 13:26] rainierwolfcastle commented on #36
ARM Internal Ref: ONME-2073

[2015-10-30 13:26] rainierwolfcastle commented on #35
ARM Internal Ref: ONME-2074

[2015-10-30 13:58] artokin commented on #37
@AnttiKauppila , would you please help on this issue? It looks like there is something wrong in SSL handshake, in M2MConnectionHandlerPimpl::dns_handler, start_connecting_non_blocking() is returning error.

[2015-10-30 14:54] mlnx opened #38 "No BR FW available for static configuration"
Using TechCon-release.

The GW_Binary folder has two files:
- gateway6LoWPANDynamic.bin
- gatewayThreadDynamic.bin

There are no BR fw files that are required to test this locally

[2015-10-30 15:57] hasnainvirk commented on #38
Local testing is not required in TechCon release OOB. A connection to Device Connector is required, that's why only Dynamic binaries are included.

[2015-10-30 16:20] mlnx commented on #38
The TechCon release branch is not only used for OOB, but also to generate a tarball to be available to many people.
Please can we have the BR static FW included in this branch?
@SeppoTakalo @bogdanm
Thanks

[2015-10-30 16:51] hasnainvirk opened #39 "6lowpan and Thread examples don't work any more"
Setup: Linux, Windows both
Compilers: gcc, armcc both

I am receiving Network Error with all of our examples. I couldn't figure out the reason. Might be something to do with mbed-tls connection handshakes or some sort of device-connector issue

[2015-11-02 08:04] artokin commented on #39
There is something wrong in security, seems to work fine with "M2MSecurity::NoSecurity" and port 5683.

[2015-11-02 11:31] SeppoTakalo commented on #39
[code]

[2015-11-02 11:47] rainierwolfcastle commented on #39
ARM Internal Ref: ONME-2077

[2015-11-02 11:47] rainierwolfcastle commented on #38
ARM Internal Ref: ONME-2078

[2015-11-02 15:50] AnttiKauppila commented on #37
Fixed in mbed-client-mbedtls version 1.0.8

[2015-11-02 15:51] #37 closed

[2015-11-03 07:21] SeppoTakalo commented on #39
Fixed.

[2015-11-03 07:21] #39 closed

[2015-11-03 07:21] SeppoTakalo commented on #36
Fixed

[2015-11-03 07:21] #36 closed

[2015-11-03 07:23] SeppoTakalo commented on #35
Failed using ARMCC 5.03 in Linux.
Works when builded using ARMCC 5.05 in Windows.

[2015-11-03 07:32] SeppoTakalo commented on #35
Verified also that ARMCC 5.03 on Windows produced same kind of error.

Build works on all platforms, but ARMCC 5.03 ones are not able to join the network.

[2015-11-03 07:34] artokin commented on #35
Verified that ARMCC 5.03 (Ubuntu 14.04) is working fine with 6LoWPAN ND mode.

[2015-11-12 15:17] markus-becker-tridonic-com opened #41 "Code duplication in mbed-client-example-6lowpan, mbed-client-linux-example & mbed-client-linux-examples"
The MbedClient class is duplicated in mbed-client-example-6lowpan, mbed-client-linux-example & mbed-client-examples, it would make sense to factor it out into mbed-client-common module and pull that in from the 3 mentioned modules.

Furthermore, it would make sense to only have the network specific parts in the modules, and the remainder of the setup in the common module.

[2015-11-13 10:56] rainierwolfcastle commented on #41
ARM Internal Ref: ONME-2143

[2015-11-18 11:27] artokin commented on #38
Static binaries merged to master in commit 3abb33a4eb060df56b55b79b3e972c57af56636d.

[2015-11-18 11:27] #38 closed

[2015-11-19 08:16] artokin commented on #41
Examples are very likely to be updated in the future and separate applications might not be needed anymore. Therefore we are not planning to optimize structure of existing example applications.

[2015-11-19 08:16] #41 closed

[2015-11-19 09:52] artokin commented on #20
The example has been changed to use the Device Connector. @tabarr, would you please test by using the mbed Device Connector as it is using the latest mDS.

I'm closing this issue as this happens with previous version of example application and older version of mDS.

[2015-11-19 09:52] #20 closed

[2015-11-20 11:04] markus-becker-tridonic-com commented on #41
"In the future" == days, weeks, months?

[2015-11-20 11:29] artokin commented on #41
months :-)

[2015-11-20 12:59] markus-becker-tridonic-com commented on #41
If we provide a PR within days, would that be accepted? Please talk to @devran01 .

[2015-11-20 14:23] yogpan01 commented on #41
Hi, This is a simple standalone example which contains all information which is needed by this example to work. The common component is all these in mbed-client module, all other information is application logic which is easy to change if they are part of this package and not somewhere else.
What additional benefit do we get to create separate module only for examples which is just a starting plac

[2015-11-25 16:32] mlnx opened #43 "Documention does not explain how to use the Static GW"
In the markdown documention, there are instructions on how to use the Dynamic configuration, which is great (gateway6LoWPANDynamic.bin , gatewayThreadDynamic.bin)

However, the documentation for the Static configuration and mDS is completely missing.

[2015-11-25 23:22] ciarmcom commented on #43
ARM Internal Ref: ONME-2199

[2015-12-02 09:31] mlnx commented on #23
@bremoran could you please look at this ticket and provide an update?

[2015-12-02 13:33] bremoran commented on #23
The PR was merged on Oct 27. This issue should be resolved now.

[2015-12-04 07:45] artokin commented on #23
@markus-becker-tridonic-com, can this issue be closed?

[2015-12-07 13:06] artokin commented on #43
A link is added to README that contains instructions how to use static gateways with device server.

[2015-12-07 13:06] #43 closed

[2015-12-10 09:47] thcu-gp opened #45 "non conform ipv6 representation"
in file source/mbedclient.cpp the ipv6 address for the embed server is hard coded. The format is incorrect and confusing due to scheme/port mixing and the port/ipv6 colon mixing
- The ipv6 address should be enclosed in square brackets
- The scheme does not match the default coap/coaps ports
     coap should use 5683
     coaps should use 5684

current representation:
coap://2607:f0d0:2601:52::20:5

[2015-12-10 10:45] z-mayer opened #46 "CoAP Response Code 4.00 From connector.mbed.com"
I’m trying to run the example using the following boards:
- FRDM-K64F
- mbed 6LoWPAN Gateway: HPI-0333A
- mbed 6LoWPAN Shield: HPI-0332A

I'm using the security credentials obtained from https://connector.mbed.com/#credentials.

The registration is initiated by the client and the DTLS handshake is successful.
After sending the first packet of encrypted application data, the following message is pr

[2015-12-10 11:15] ciarmcom commented on #46
ARM Internal Ref: ONME-2236

[2015-12-10 11:15] ciarmcom commented on #45
ARM Internal Ref: ONME-2237

[2015-12-10 13:05] markus-becker-tridonic-com commented on #23
@bremoran @bcostm @autopulated The cmsis part of the problem '6LoWPAN on F4' is solved. Other changes are still required to really compile it, see https://github.com/ARMmbed/target-st-stm32f429i-disco/issues/16#issuecomment-161041151.

[2015-12-10 13:05] #23 closed

[2015-12-14 11:35] z-mayer commented on #46
I was able to get the example working, I was trying to register at the wrong IPv6 address earlier.

While following the 'Client side configuration' section in the README, I changed the MBED_DEVICE_CONNECTOR_URI in mbedclient.cpp to "coap://2607:f0d0:3701:9f::20:5684".
I did not suspect that the address was wrong, because the DTLS handshake was successful.

Please update the README with the correct

[2015-12-14 12:37] artokin commented on #46
Good that the problem was found!
The README has now been updated to use correct IPv6 address "2607:f0d0:2601:52::20". Sorry that README was not accurate.

[2015-12-14 12:38] SeppoTakalo commented on #46
Good finding. I think that we have accidentally left our test server address in the README. It really can do the same handshake but will drop the connection because certification does not match.

[2015-12-14 12:38] #46 closed

[2015-12-20 17:47] anttiylitokola commented on #45
Thanks for your report. We will look into this.

[2016-01-25 06:52] teetak01 opened #47 "Add IPv6 network check (ping6) in the application"
The example application could perform ping6 check before trying to register to connector. This could be used to rule out any network related issues. Quite common problem with this example is due to lack of IPv6 connectivity or routing.

[2016-01-25 09:27] mlnx commented on #45
cc @mlnx

[2016-01-28 13:02] cyliangtw opened #48 "Scan Fail: No Beacons"
I followed Troubleshooting steps, still can't identify the failure.
(1) Set as 6LoWPAN ND of mesh network, I got "Scan Fail: No Beacons" repeatedly.
(2) Set as Thread type of mesh network, I got "ns_sal_socket_send_to: error=-4" repeatedly.

Details of log as below:
=====Log (6LoWPAN ND of mesh network)  =====================
[DBG ][m6La]: init()
[DBG ][m6La]: connect()
[INFO][m6LND]: Start 6LoWPA

[2016-01-28 15:19] ciarmcom commented on #48
ARM Internal Ref: ONME-2385

[2016-01-29 01:49] cyliangtw commented on #48
I powered up the border router "FireFly mbed 6LoWPAN Gateway router' by  micro-USB cable.
I also copied  gateway binary firmware file to flash this gateway device successfully by  micro-USB cable power up.

[2016-01-29 08:08] SeppoTakalo commented on #48
Hi,

Two things I would like to know:
* Which binary file did you use to flash the device?
* Is the border router attached to working ethernet segment?

| Binary  | Use case |
| --------- | ------------- |
| gateway6LoWPANDynamic.bin  | 6LoWPAN border router in bridge mode. Learns IPv6 prefix from Ethernet  |
| gateway6LoWPANStatic.bin |  6LoWPAN border router using static IPv6 prefix |
| gatewayT

[2016-01-29 09:11] z-mayer opened #49 "Conflicting dependencies"
yotta install ---> error: mbed-client-c does not meet specification ^1.0.0 required by sal-stack-nanostack

![Image of Dependency Chain](http://s10.postimg.org/h4fesbhqx/ver_Mismatch.png)

I realize that this is not necessarily an issue with this project, but I'm not sure where to mention this.
How is yotta supposed to handle such issues in general?

[2016-01-29 09:18] ciarmcom commented on #49
ARM Internal Ref: ONME-2387

[2016-01-29 10:04] cyliangtw commented on #48
Hi,
1. I tried gateway binary files: both of gateway6LoWPANDynamic and gatewayThreadDynamic.
2. The border router attached one working ethernet segment. I verified OK by "mbed-client-examples-master" sample.
After applied gateway6LoWPANStatic, it could continuously run until send_registration() & got error 6.
I applied the same security.h of "mbed-client-examples-master" except keeping PSK & PSK_I

[2016-01-29 16:32] thcu-gp opened #50 "linking in sal-stack-nanostack-private results in build issues"
@mlnx

linking in sal-stack-nanostack-private results in build issues:
(and the list of warnings is large)

error: mbed-client-c does not meet specification ^1.1.0 required by coap-service
error: mbed-drivers does not meet specification ~0.11.1 required by core-util
...
C:/mbed/vlatest/mbed-client-example-6lowpan/yotta_modules/atmel-rf-driver/source/driverRFPhy.c: In function 'rf_device_register':

[2016-01-29 16:54] SeppoTakalo commented on #48
That explains it.
You have nothing wrong in your code or boards.

The *dynamic* versions require **IPv6** connectivity which you most probably do not have. The *mbed_client_example* you used on K64F over ethernet, uses **IPv4**

The *static* versions of the router are provided only for testing purposes. They form site-local *IPv6* network that cannot be routed outside and therefore your registrati

[2016-01-29 16:54] #48 closed

[2016-01-29 16:59] SeppoTakalo commented on #50
If you link against our development repository, please checkout the version tag that has been released for Yotta.
In this case, it would be `git checkout v3.0.5`

The development repository is always a work in progress and we cannot guarantee that *master* branch builds with other modules.

[2016-01-29 17:25] mlnx commented on #50
Indeed,
@thcu-gp you may want to look at some scripts to clone and link repositories, for example:
https://github.com/ARMmbed/sal-stack-nanostack/files/108212/setup_nanostack_source.txt

[2016-01-30 01:03] cyliangtw commented on #48
Thanks a lot, I realized thread rely on IPv6. In network topology of IoT,  IoT  gateway role will be in charge of the convert between IPv6 and IPv4, after that IoT host device could connect nomal internet through IoT borader router.
    If I use Google OnHub instead of FireFly gateway, could it work to connect ARM connector ?

- ������Sony Xperia����������������

---- Seppo Takalo���� ----

That e

[2016-01-30 02:01] ciarmcom commented on #50
ARM Internal Ref: ONME-2390

[2016-02-01 06:41] teetak01 commented on #49
Thank you for reporting! We will look in to this.

[2016-02-04 23:21] mlnx commented on #50
@thcu-gp have you managed to fix the problem?

[2016-02-05 13:54] kmdewaal commented on #45
This is documented in RFC3986 paragraph 3.2.2

[2016-02-08 09:25] thcu-gp commented on #50
by fixing the tag of the sal-nanostack to 3.0.5, I am able to build it. A lot of warnings keep popping up though (mostly unused values and unused parameter warnings).

[2016-02-08 13:39] mlnx commented on #50
Just tested the example with nanostack v3.0.5 and does not fail (a binary is generated)

[2016-02-08 14:13] thcu-gp commented on #50
apparantly some stuff did not get updated while swapping nanostrack-private versions.
on last try, I could chechout the listed versions on github
I had to manully link in higher versions of sal-stack-nanostack-eventloop and mbed-6lowpan-eventloop-adaptor to get nanostack v3.0.5 working (but it works now)

[2016-02-09 19:05] SeppoTakalo commented on #49
This is now fixed with sal-stack-nanostack v3.0.6.

[2016-02-09 19:05] #49 closed

[2016-02-10 09:12] #50 closed

[2016-02-19 14:41] javier-moreno-tridonic-com opened #53 "Default PAN ID?"
The atmel-rf-driver provides functions to set up the PAN ID and the channel, nevertheless I just managed to see the default channel set to 12 but no how the PAN ID is set.

Isn't PAN ID really necessary? Am I missing something?

[2016-02-20 03:06] ciarmcom commented on #53
ARM Internal Ref: ONME-2436

[2016-02-22 15:27] mlnx commented on #53
@SeppoTakalo could you please comment on this?

[2016-02-22 22:44] SeppoTakalo commented on #53
Node should pick up the PAN ID from Beacons.
PANID is set on border router (on 6LoWPAN-ND network) and nodes pick up the PANID when they do Beacon scans.

Nanostack allows you to filter the PANID, if you want to use it to identify borderrouters/networks.

[2016-02-24 14:48] #53 closed

[2016-03-07 07:17] catro opened #59 "Build FRDM-K64F border router"
I'm trying to build FRDM-K64F border router. But the page can't be found listed in the readme, https://github.com/ARMmbed/k64f-border-router. Could anyone provide an alternative link?

[2016-03-07 09:11] ciarmcom commented on #59
ARM Internal Ref: ONME-2479

[2016-03-07 12:03] SeppoTakalo commented on #59
Thanks for reporting this.
Repository permissions have now been fixed.

[2016-03-07 12:03] #59 closed

[2016-03-08 00:32] catro commented on #59
Thanks!

[2016-03-10 18:44] mlnx opened #63 "Update device_server branch"
There are quite many users who are running mDS locally.

The [device_server](https://github.com/ARMmbed/mbed-client-example-6lowpan/tree/device_server) branch has to be updated to fix/improve at least the following:
- Dependencies
- GW binaries
- Documentation (instructions, configurations, and supported features such as Thread router and Sleepy end-node)

[2016-03-10 21:22] ciarmcom commented on #63
ARM Internal Ref: ONME-2491

[2016-03-11 11:42] mlnx opened #64 "Add PANID / NetworkID to config.json"
Users need to easily modify the PANID and NetworkID configuration of the end-node.

For example, these could be the default values in ```config.json``` to match the BR config

[code]

[2016-03-11 11:42] mlnx commented on #64
@SeppoTakalo please review this

[2016-03-11 13:09] ciarmcom commented on #64
ARM Internal Ref: ONME-2494

[2016-03-11 17:00] mlnx commented on #45
This has been been fixed on this commit: 56b0a6586046ce057acef2ba9f8574973facc9cd

[2016-03-11 17:01] #45 closed

[2016-03-14 08:47] SYuPing opened #65 "Could I verify without gateway/ border router ?"
I have same problem with #48 , also I have no gateway router yet...
Actully, I've order An mbed 6LoWPAN gateway router which is required, but still on the plane...
So, I have several quention want to know...

Btw, I'm using the RF module which named uz2400 also follow the IEEE 802.15.4 standard instead of atmel RF module as reserve, and also updated  source codes inside atmel-rf-driver.

(1) Wheth

[2016-03-14 09:08] ciarmcom commented on #65
ARM Internal Ref: ONME-2498

[2016-03-14 11:32] SeppoTakalo commented on #65
Hi @SYuPing

Thank you for your report. Please find my answer to your questions.

(1) This example requires border router to run as there is direct communication with the mbed Connector service.

(2) Verifying that your RF driver work might require you to have RF sniffer. With the border router, you can ping from the external network, if you know the IPv6 address that the end node will use. For de

[2016-03-14 11:32] #65 closed

[2016-03-14 15:55] markus-becker-tridonic-com opened #66 "Examples for arm_random_module_init(void) / arm_random_seed_get(void)"
Is there documentation or sample code for at least one platform available for the functions  arm_random_module_init(void) and arm_random_seed_get(void)? Is it correct that, rand() would not produce anything random at all, if the target platform has no RTC?

[2016-03-14 17:09] ciarmcom commented on #66
ARM Internal Ref: ONME-2500

[2016-03-15 09:31] SYuPing commented on #65
OK!
Thanks a lot!

[2016-03-21 08:04] SeppoTakalo commented on #63
Commit https://github.com/ARMmbed/mbed-client-example-6lowpan/commit/2c070adec9fbabdb46d44d4477e9980f16a86e73
Updated the device_server branch.

[2016-03-21 08:04] #63 closed

[2016-03-22 10:07] #35 closed

[2016-03-22 10:07] SeppoTakalo commented on #35
ARMCC 5.03 is not supported. Due the C++11 support, ARMCC 5.05 is minimal requirement.

[2016-03-23 08:28] SeppoTakalo commented on #64
Task created to backlog. Closing the issue.

[2016-03-23 08:28] #64 closed

[2016-04-04 14:13] markus-becker-tridonic-com commented on #66
@mlnx would you follow up on this?

[2016-04-04 15:31] kjbracey-arm commented on #66
Typically arm_random_module_init() is a no-op, but it can be used to make sure whatever hardware you need to get a random seed is active.

arm_random_seed_get() should return a best effort real random number seed, that will vary from board to board, and from boot to boot on a given board. Some sort of combination of the MAC address, and some radio noise read from the radio driver would be appropri

[2016-04-06 09:16] markus-becker-tridonic-com commented on #66
Is there a sample for a specific target? The API of it not documented.

[2016-04-06 10:33] SeppoTakalo commented on #66
I don't believe that there is any samples for mbed OS.
Eventually we will migrate into using random modules from mbed TLS, so these are just legacy porting layer between Nanostack and the platform it is running on.

[2016-04-07 10:48] markus-becker-tridonic-com commented on #66
When will this change? Does it still make sense to implement it?

[2016-04-14 07:17] TuomoHautamaki commented on #66
This change is not yet scheduled, so it is not coming in a near future. We recommend to proceed without (us using random modules from mbed TLS)

[2016-04-15 06:29] shahab5 opened #69 "mbed-client-example-6lowpan : yotta reports dependencies are not met"
`yotta target frdm-k64f-gcc`
`yotta install mbed-client-example-6lowpan`

info: get versions for frdm-k64f-gcc
info: download frdm-k64f-gcc@2.0.0 from the public module registry
info: get versions for kinetis-k64-gcc
info: download kinetis-k64-gcc@2.0.2 from the public module registry
info: get versions for mbed-gcc
info: download mbed-gcc@1.2.2 from the public module registry
[root@cpu335 mbed-cl

[2016-04-15 11:27] teetak01 commented on #69
Hi, most of the modules you are downloading seems to be very old. Do you happen to have some old release of mbed-client-example-6lowpan? You probably should get the newest version from github:

Yotta install is not required.

git clone git@github.com:ARMmbed/mbed-client-example-6lowpan.git

Few things to verify that you have newest build:

[code]

[2016-04-15 12:23] shahab5 commented on #69
Thanks! It worked.

Used:
`git clone git@github.com:ARMmbed/mbed-client-example-6lowpan.git`

[2016-04-15 12:23] #69 closed

[2016-04-15 12:30] teetak01 commented on #69
Good!

Very true, this would not require public key:

`git clone https://github.com/ARMmbed/mbed-client-linux-example.git`

[2016-04-20 07:22] shahab5 opened #70 "arm_nwk_interface_up returns -5 (6LoWPAN bootstrap start failed)"
Hi,

I am porting this example application of mbed-client to a ARM m4 based platform with different PHY chip.

The sequence of instructions executed are,

`app_start` registers PHY APIs, two of which get called immediately (`rf_interface_state_control` & `rf_address_write`).
`_device_id`, `_mesh_network_handler` and `_network_interface_id` are initialized.

Followed by `connect()`

`eventOS_schedu

[2016-04-20 07:58] ciarmcom commented on #70
ARM Internal Ref: ONME-2551

[2016-04-20 13:50] shahab5 commented on #70
I apologize for being restless, but I am badly stuck.
Quick help is much appreciated.

Thanks

[2016-04-21 13:13] shahab5 opened #71 "mbed-client unable to connect to GW router"
Using FRDM-K64 board as client (with Firefly RF shield) and Firefly GW router.

**GW_ROUTER debug log**

[DBG ][core]: Allocate Root Tasklet
P.Init
[DBG ][pana]: Init
[DBG ][sck ]: Socket id 0 allocated
Starting NanoRouter in autonomous mode, extension=1
[DBG ][core]: NS Root task Init
[DBG ][sck ]: Socket Tasklet Generated
[DBG ][mle ]: MLE Tasklet Generated
[DBG ][pana]: Pana Tasklet Init
[DBG ]

[2016-04-21 13:14] shahab5 commented on #71
**Client Debug Trace**
Start mbed-client-example-6lowpan
[DBG ][m6La]: init()
[DBG ][m6La]: connect()
[DBG ][m6LND]: Link-layer security NOT enabled.
[DBG ][m6LND]: Channel: 12
[DBG ][m6LND]: Channel page: 0
[DBG ][m6LND]: Channel mask: 2048
[INFO][m6LND]: Start 6LoWPAN ND Bootstrap
[DBG ][m6LND]: app_parse_network_event() 3
[DBG ][m6LND]: Link Layer Scan Fail: No Beacons
[DBG ][m6LND]: Restart bo

[2016-04-21 13:21] shahab5 commented on #71
Using `gateway6LoWPANDynamic.bin ` binary for GW router.

**Question: **
How to configure GW router radio channel?
Does config.json configure Radio channel for both mbed client and GW router?

[2016-04-21 13:33] shahab5 commented on #71
Sorry, I missed seeing https://github.com/ARMmbed/mbed-client-example-6lowpan/issues/48

Tried gateway6LoWPANStatic.bin its working, so its got to be ipv6 issue.

Kindly, close this by mentioning, way to configure GW_router radio settings.

Thanks

[2016-04-21 19:58] ciarmcom commented on #71
ARM Internal Ref: ONME-2555

[2016-04-22 04:02] SYuPing opened #72 "Thread networking procedure and porting RF module problem"
Hi, I have two different testing senario which are  both connect to a same gateway router for testing and verifying. I will explain what kind of problems I faced below.

The first testing senario is using k64f+6lowpan shield connect to gateway. Yes, this is the standard processing of this example, and also I used a sniffer to monitor the format of transmition packet.
So, here is a question that be

[2016-04-22 06:53] markus-becker-tridonic-com commented on #66
If this is not scheduled yet, is it possible to show sample code for one target, that once can use for inspiration,implementation and usage, while the mbed-tls solution is being worked on?

[2016-04-22 07:59] ciarmcom commented on #72
ARM Internal Ref: ONME-2557

[2016-04-22 11:55] kjbracey-arm commented on #66
Here's a (not-very-good) implementation that will work with the Atmel RF driver (or any other that provided the same rf_ calls)

    uint32_t arm_random_seed_get(void)
    {
        uint8_t tmp_mac_addr[8];
        uint32_t rndtmp = rf_read_random();
        uint8_t i;

        rf_read_mac_address(tmp_mac_addr);
        for (i = 0; i < 8; i++) {
            rndtmp += tmp_mac_addr[i];
        }

[2016-04-25 07:17] shahab5 commented on #70
Hi,

Please can somebody update this ?

Thanks

[2016-04-25 08:07] artokin commented on #70
Hi Shahab,

NanoStack documentation can be found from https://docs.mbed.com/docs/arm-ipv66lowpan-stack/en/latest/12_API_network/index.html. Unfortunately return value -5 is not documented for arm_nwk_interface_up(...). -5 is returned if nanostack is not properly configured by using arm_nwk_interface_configure_6lowpan_bootstrap_set(...).

Your API call sequence sounds right, scheduler is running an

[2016-04-25 08:21] artokin commented on #71
Hi Shahab,

The mbed 6LoWPAN gateway is statically configured to operate on channel 12 (2.4GHz RF) or on channel 1 (sub-GHz RF). It is not possible to configure channels in the mbed 6LoWPAN GW.

Another 6LoWPAN GW is available in https://github.com/ARMmbed/k64f-border-router that allows you to use FRDM-K64 as a border router. It allows channel configuiration.

BR,
Arto

[2016-04-25 08:28] shahab5 commented on #71
Hi Arto,

Thank a lot for your reply.
Closing this issue.

Regards,
Shahab

[2016-04-25 08:28] #71 closed

[2016-04-25 10:37] mikter commented on #72
Here is the answer to the following question
"before the k64f join to gateway router, why I can't observe the "Beacon Request" which is sent by k64f to request a network connection? "

Thread does not use Beacons when attaching to an already known network. Beacons are used only in following cases:
- Device has no configuration and searches network to start commission
- End device has lost connecti

[2016-04-25 11:07] kjbracey-arm commented on #72
"the frame sent by k64f+uz2400 would not carry ACK.req. This problem let my device (k64f+uz2400) can't join to the thread network."

Your driver/radio should be transmitting the Ack Request bit as set in the frame data. If for some reason your device can't set the Ack Request bit, I think it could still work as long as you issue the "PHY_LINK_TX_DONE" callback immediately when finished instead of

[2016-04-25 11:20] kjbracey-arm commented on #72
Ah, I've just realised one issue. If you are not setting the AR bit, when the header from the stack had it set, then you have modified the header.

If you modify the header, the Message Integrity Check of a integrity-protected secure packet will fail. So you must transmit the entire packet, including header, unmodified.

That will block you.

[2016-04-25 11:29] kjbracey-arm commented on #70
-5 covers a range of "not fully configured" errors. Do you get any terminal trace?

The basic initialisation sequence is covered here: https://github.com/ARMmbed/sal-stack-nanostack/blob/master/docs/07_API_initialize.md

Maybe check the return codes on earlier configuration calls in nd_tasklet_configure_and_connect_to_network? Perhaps some invalid parameter was passed into one of them.

[2016-04-26 07:10] shahab5 commented on #70
Thanks for the answers.

Upon reading the latest docs on sal-stack-nanostack, I realized that the stack version in use was old.
Updated to the latest mbed-client-6lowpan-example and this issue is not seeing upon porting to my platform.

I have reached `Start 6LoWPAN ND Bootstrap` message.
However, the MCU waits forever in `eventOS_scheduler_wait()` for interrupts in the ported code.

Kindly, shed

[2016-04-26 07:17] kjbracey-arm commented on #70
When performing the 6LoWPAN-ND bootstrap, the first thing that should happen is a channel scan - beacon requests being sent on 1 or more channels. The stack should be making calls to the driver to transmit those packets, and you should be calling the stack from interrupt when you receive packets.

If no beacons are received, the boot should time out and the tasklet should retry.

eventOS_scheduler

[2016-04-27 06:28] TuomoHautamaki commented on #72
SYuPing, are you happy with the answers provided, this issue can be closed?

[2016-04-28 04:26] SYuPing commented on #72
I'm very appriciate your suggestion and what your meaning is I have to call rf_address_write in a period time not just in the beginning?
If that, I'll try it. And I'd like to show something for you...

Here are the packets from ATmel 6lowpan shield TX Buffer and my device what I observe by sniffer,as below,

ATmel 6lowpan shield
41 C8 A7 FA DE FF FF 94 B1 04 00 00 3D C2 FE 7C 3B FF 02 F0 4D 4C 4D

[2016-04-28 07:11] kjbracey-arm commented on #72
rf_address_write will be called by the stack to change address filters at various points during run-time. You must support modifying the address filters while running.

Analysis is correct, except you have src addr and dst the wrong way round. Destination is FFFF (broadcast), source is 94:B1:04:00:00:3D:C2:FE. Which means your HW extended address filter should already have been set to that by rf_a

[2016-04-29 06:01] SYuPing commented on #72
OK, I'll try to check the address filters condition of my RF module, and
What 3) Message Integrity Check in secured MLE packet fails (because key is wrong? Probably not - should be same as Atmel.) as you said, Is there any way to check the key or to configure it?

BTW, I still have some problem of secured MLE format need for help, but it may go through some source codes, I think it is not suitable

[2016-04-29 08:49] kjbracey-arm commented on #72
I'm not seeing much value in you performing deep investigation of what the packets contain. You're writing a network driver.

Pretty much all you have do is transmit the packets you're asked to, without modifying them, and deliver the packets your receive (according to the correct filter) without modifying them. If what gets passed to/from Nanostack matches what you see with the sniffer, there sho

[2016-04-30 07:29] shahab5 commented on #70
@kjbracey-arm Thanks for the solution, indeed interrupts were disabled. Fixed it.

Now the stack has initiated scan, but the packet sent on air is not beacon request.
FYI, I have used `sal-stack-nanostack/armcc/lowpan_host` libraries.

Attached is a comparison of the packets sent by FRDM board (mbed-client-6lowpan-example) vs my device.

Kindly, correct me if I made any mistake(s).

Thanks,
Shahab

[2016-04-30 10:42] shahab5 commented on #70
@kjbracey-arm Thanks for the solution, indeed interrupts were disabled. Fixed it.

Now the stack has initiated scan, the beacon request seems to have few things messed up.

1.`Ack.req` is set
2. Dest. PAN AND Dest. Address are 0x00 instead of 0xFF.

FYI, I have used sal-stack-nanostack/armcc/lowpan_host libraries.

Attached is a comparison of the packets sent by FRDM board (mbed-client-6lowpan-exa

[2016-05-02 09:53] kjbracey-arm commented on #70
Is Nanostack actually passing you incorrect packets?

It should be giving you the MAC header and payload. Did Nanostack really ask you to transmit "23 08 D9 00 00 00 00 07"?

Are you running the same mbed-client-6lowpan-example application and nanostack on both systems? You need to rule out factors other than the radio driver.

[2016-05-03 05:53] shahab5 commented on #70
@kjbracey-arm Indeed Nanostack has provided "23 08 D9 00 00 00 00 07" to the API `rf_start_cca` with a length of 8 bytes.

Yes, I am running the same application on both the systems.

[2016-05-03 10:42] gdillen opened #74 "No entries in mbed device connector"
Hello,

I followed the instructions for setting up the connection between my FRDM-K64F with Firefly shield 6lowpan edge device and my Firefly 6lowpan gateway. My ISP supports IPv6 and I have a router with switch that also supports IPv6. Both edge device and gateway are connected via USB to my laptop, the gateway is Ethernet-connected to my switch.
I tried with both Dynamic and Static firmware on m

[2016-05-03 10:57] SeppoTakalo commented on #74
Hi @gdillen

I see two issues.

First:
Your log files show that you are using the `-static` one for the gateway, therefore it uses statically defined IPv6 prefix `fd00:ff1:ce0b:a5e0` and that is not going to work.
Please use the `-dynamic` one for the GW.

Secondly:
The client device is not joining the 6LoWPAN network.
You can see the output lines: `[DBG ][m6LND]: Link Layer Scan Fail: No Beacons`

[2016-05-03 11:58] ciarmcom commented on #74
ARM Internal Ref: ONME-2598

[2016-05-03 18:23] gdillen commented on #74
Hi @SeppoTakalo
Thanks.

1. I flashed the "gateway6LoWPANDynamic.bin" firmware to the gateway. Since this is a bin file, does this uses the default channel 12 (that's the one I use on the client)?
2. The channel on the client is the default channel 12

Unfortunately still no success (no data on device connector).

Anything I'm still missing?

Thanks.
Guy

Logfile gateway (I changed part of my IPv6

[2016-05-04 08:55] shahab5 commented on #70
I was using an archive file (.a file created using all .o's in stack) created using `arm-none-eabi-ar` earlier.

Instead using `ar` command directly to archive the dot Os did the job.
The nanostack is now sending correct sequence of data to be transmitted "03 08 D9 FF FF FF FF 07".

Thanks for all the help.
Closing this issue.

Regards,
Shahab

[2016-05-04 08:55] #70 closed

[2016-05-04 13:26] gdillen commented on #74
I'm completely stuck. Anyone any idea what still can be wrong?

Many thanks.

[2016-05-04 17:46] gdillen commented on #74
Hello,

I'm one step closer: I have put the client and the gateway in the same room (closer to each other).
Now I get the following messages on the client. After the error 11 the client stops.

[INFO][m6LND]: 6LoWPAN ND bootstrap ready
[DBG ][m6LND]: ND Access Point: fd9f:b3fa:a2dd::ff:fe00:b448
[DBG ][m6LND]: ND Prefix 64: fd:9f:b3:fa:a2:dd:00:00
[DBG ][m6LND]: GP IPv6: fd9f:b3fa:a2dd:0:fec2:3d00

[2016-05-05 05:10] teetak01 commented on #74
Hi @gdillen, can you check if you have valid security.h? From your logs it would seem that Client failed after it tried to initiate hand-shake with Connector and failed after few re-tries. You could cross-check also with our https://github.com/search?utf8=%E2%9C%93&q=mbed-client-quickstart which uses ethernet just to verify that you can get registration through to connector.

Compiling with "yt bu

[2016-05-11 12:14] #66 closed

[2016-05-11 12:22] mikaleppanen commented on #74
Hi @gdillen,
Do you still have problems with the test setup or is it working? Is it ok to close this issue?
BR,
Mika

[2016-05-12 14:33] shahab5 opened #75 "Unable to connect to 6lowpan network (app_parse_network_event 8)"
Hi,

I have ported the code to a different PHY chip, this module is configured as 6lowpan client.
FireFly gateway router is used with Static binary (for testing purpose), goal is to reach the socket tx send state as mentioned in the example.

Few packet exchanges are seen on the air (attached sniffer capture), then nano-stack issues `Restart bootstrap` command.

With the same router setup, using F

[2016-05-12 16:00] ciarmcom commented on #75
ARM Internal Ref: ONME-2635

[2016-05-14 11:23] shahab5 commented on #75
Well, after observing the TX_STATUS at each packet, I made a fix.

For a TX_PACKET with ACK_REQ set, on my module only `PHY_TX_DONE` was sent (after ACK was received) to `arm_net_phy_tx_done()`.

While on FRDM board, it sends `PHY_TX_SUCCESS` followed by `PHY_TX_DONE`.

With this fix, Tx packet is sent.
Now, I get `GP REG fail`.

**Client debug trace**
    Start mbed-client-example-6lowpan
[DBG ][

[2016-05-16 09:46] kjbracey-arm commented on #75
The capture in pcap format would be useful.

The error from the stack indicates one of two possible errors - failure get an ICMPv6 Router Advertisement in response to ICMPv6 Router Solicitations, or a failure to get a response to its address registrations (Address Registration Option in an ICMPv6 Neighbour Solicitation).

If I manually decode your trace correctly, packet 62 is an RS, and packets 6

[2016-05-16 15:16] shahab5 commented on #75
Thank you for the reply.

Sorry, the capture is in .psd format (TI sniffer packet format).
Tried converting from PSD to PCAP, then wireshark is not interpreting the packets correctly [(psd2pcap)](https://e2e.ti.com/support/wireless_connectivity/low_power_rf_tools/f/155/t/56980l).

The Rx packets are sent to stack, added a dword print at
`rf_start_cca` (tx pkt first dword)
`arm_net_phy_tx_done` (tx

[2016-05-17 05:42] shahab5 opened #76 "IPv6 for 6LoWPAN or Thread border router over IPv4 based ISP"
Hi,

My ISP provides IPv4 only and so a local IPv6 network using a Dlink router is created.
The border router is connected to this network.
But the `Ethernet bootstrap Ready` message is not seen.

FYI, using the gateway6LoWPANDynamic.bin.

Please suggest a way to work with IPv4 based ISP.

Thanks,
Shahab

[2016-05-17 05:58] teetak01 commented on #76
Hi @shahab5, you would have to use some kind of "IPv6 tunnel broker" service if you want to connect to Connector-service via IPv4 network.

[2016-05-17 06:21] shahab5 commented on #76
@teetak01 Thanks will try and update

[2016-05-17 07:28] SeppoTakalo commented on #76
@shahab5 The border router image you use, do not continue to set up the network, unless it receives a ICMPv6 Router Advertisement from the IPv6 capable router.
Therefore the "Bootstrap complete" message is not seen.

I would suggest that you try to set up a IPv6 tunnel of some sort. Some have done it with separate Linux box providing the tunnel, some have a Wifi gateway with capability to do so. I

[2016-05-17 07:34] SeppoTakalo commented on #76
I'm closing this as it is basically not a issue with a mbed-client but more generally a network infrastructure problem.
This is a known problem for us, and tunneling the IPv4 over IPv6 is the only solution. Mesh networks based on 6LoWPAN do not work on IPv4 addresses, therefore the must for IPv6.
IPv4 address space would be exhausted very quickly for mesh type of networks.

Br.
Seppo

[2016-05-17 07:34] #76 closed

[2016-05-19 06:21] shahab5 opened #77 "What roles of the Thread network are demonstrated by this demo?"
HI,

I need to understand what roles are demonstrated by this example. Since there are only two modules used here, Border Router and Joiner Router.

**Question**
 Is the Thread Gateway (Border) Router acting as Leader and Commisioner as well?

Kindly, help me understand.

Thanks,
Shahab

[2016-05-19 06:31] shahab5 commented on #75
Hi @kjbracey-arm

 Please let me know, if anything else can be done to debug this issue.
 As, updated in ealier comment, the nano-stack gives up (RF 1 0 -- PHY_SHUT_DOWN) only after receiving the packets.

Thanks,
Shahab

[2016-05-19 07:59] ciarmcom commented on #77
ARM Internal Ref: ONME-2647

[2016-05-19 14:40] chikkaram opened #78 "Unable to connect to thread network"
Hi,
I have ported the code to a different PHY chip, this module is configured as thread client.
My device is unable to connect to mbed connector, Can you please help me.
Please find the below debug trace.
# Debug trace:

[DBG ][mClt]: M2MNsdlInterface::create_nsdl_resource_structure(object_name Test/0)
[DBG ][mClt]: M2MNsdlInterface::create_nsdl_resource_structure - res_name Test/0/D
[DBG ][mClt]:

[2016-05-19 15:59] ciarmcom commented on #78
ARM Internal Ref: ONME-2648

[2016-05-20 05:24] chikkaram commented on #78
Hi,
I'm attaching thread_client.zip, contains debug trace and packets capture.
Thanks
[thread_client.zip](https://github.com/ARMmbed/mbed-client-example-6lowpan/files/273916/thread_client.zip)

[2016-05-20 07:42] teetak01 commented on #78
Hi @chikkaram, are you using IPv6 tunneling to connect your border router to internet or perhaps proper IPv6 network from your ISP?

Check this closed issue: https://github.com/ARMmbed/mbed-client-example-6lowpan/issues/76

[2016-05-20 08:55] chikkaram commented on #78
Hi,
I have already created thread network(which supports IPv6 tunneling ), with FRDM-K64F client device and FireFly gateway router, tested successfully with mbed connector.
**I have ported the same client device code to a different PHY chip, this module is configured as thread client, but my module is unable to join the existing  network, goal is to reach the socket tx send state as mentioned in t

[2016-05-20 09:07] shahab5 commented on #76
Thanks for all the answers.
Using tunnelbroker.net, it worked.

Thanks,
Shahab

[2016-05-20 10:38] SeppoTakalo commented on #74
Closing this as the log file shows it succesfully joined the 6LoWPAN network.
Please re-open if the problem still exist.

[2016-05-20 10:38] #74 closed

[2016-05-23 01:40] SYuPing commented on #72
Many thanks for @kjbracey-arm , @mikter , @TuomoHautamaki's suggestions, and sorry for my lack of  knowledge...
My rf-module can connect to mDS and also can read information by clicking the buttons from mDS, the problem is
1) I observed rf-module running under promiscous mode, but this mode may not auto-ack..
2) My rf-module receive mode is diveded into unsecurity and security mode, it means that

[2016-05-23 06:13] artokin commented on #77
Hi,

The first router enabled device started will begin as a Leader of the Thread network (End Device can't be a Leader).

In this example we have two devices and they are using static configuration to establish a Thread network. When static configuration is used then required network parameters are already known by the joining device and therefore commissioning process is not needed.

BR,
Arto

[2016-05-23 06:29] #72 closed

[2016-05-24 06:08] shahab5 commented on #75
Hi,

Can someone please suggest a solution?

Thanks,
Shahab

[2016-05-25 10:37] shahab5 opened #79 "arm_net_phy_tx_done returns -1"
Hi,

Setup uses a FRDM board as mbed client in 6lowpan with a border router.
Although, it works and gets detected in mbed device connector. But I didn't understand the reason for the API to return -1.

FYI, `interface_id = 0` and `tx_handle = 1` (verified this at `rf_start_cca`).

Thanks,
Shahab

[2016-05-25 11:59] ciarmcom commented on #79
ARM Internal Ref: ONME-2665

[2016-05-25 12:41] SeppoTakalo commented on #79
Is this related https://github.com/ARMmbed/mbed-client-example-6lowpan/issues/75

[2016-05-26 06:49] shahab5 commented on #79
During the debugging of #75, I observed this API throws an error both on my platform and FRDM-K64F. However, the latter board works fine.

[2016-05-26 06:57] shahab5 commented on #77
Thank you very much for the explanation.

Is there a plan to have a Thread demo with commissioning process?

Regards,
Shahab

[2016-05-26 07:53] mlnx commented on #77
Shahab,

Yes, there will be a demo at some point in the future.
If you are an mbed Partner, please contact your Partner Lead for more information.

Best regards,
Marcelo

[2016-05-26 08:19] SeppoTakalo commented on #79
@shahab5 Thanks for reporting this.

I checked the code and it seems that the `arm_net_phy_tx_done()` returns `-1` always, unless given TX handle is incorrect when it would return `-2`

This is now taken into our backlog and will be fixed in future releases.
As a workaround, you can ignore the return value for now.

Br. Seppo.

[2016-05-26 08:48] shahab5 commented on #77
Thank you all.
Closing this issue.

Regards,
Shahab

[2016-05-26 08:48] #77 closed

[2016-05-26 08:56] SeppoTakalo commented on #75
Hi @shahab5

I have two theories here, first is that maybe the stack hangs up in the TX state and is waiting for proper callback to `arm_net_phy_tx_done()`

Please see the: https://docs.mbed.com/docs/arm-ipv66lowpan-stack/en/latest/16_API_porting/index.html#device-driver-api

Specifically:
![TX states](https://docs.mbed.com/docs/arm-ipv66lowpan-stack/en/latest/img/tx_process.png)

So first it is r

[2016-05-26 10:55] shahab5 commented on #75
@SeppoTakalo Thanks for the suggestions.
Disabled prints, alas! No change.

Packet capture shows that after RS Transmitted, no further Tx occurs.

Thanks,
Shahab

[2016-05-26 11:57] SeppoTakalo commented on #75
Can you try to capture the network traffic in a Wireshark somehow? Or convert the capture traffic to `.pcap` format, so could understand the packets?

[2016-05-26 13:17] SeppoTakalo commented on #78
Hi @chikkaram do you have a RF sniffer to verify if you PHY device is able to send&receive packets from the network?

From the logs provided, I cannot detect if you have even joined the network at all.
Would you be able to produce full logs from the device, and preferably without those mbed-client debug messages because they may slow down the RF driver.

[2016-05-26 13:17] shahab5 commented on #75
Hi @SeppoTakalo PFA sniffer capture in `.pcap` format.

[client_board.pcap.zip](https://github.com/ARMmbed/mbed-client-example-6lowpan/files/284420/client_board.pcap.zip)

[2016-05-26 13:23] SeppoTakalo commented on #75
Btw. We have used these sniffers http://www.ubisys.de/en/engineering/products-wireshark-802.15.4.html

They support Wireshark and 802.15.4 2.4 GHz network

[2016-05-26 13:35] shahab5 commented on #75
Thanks for this info. I have been using TI's CC2351 based dongle, will try to procure some of these

[2016-05-26 13:53] SeppoTakalo commented on #75
Thanks for the capture.

It seems that your device starts a proper handshake with a border router.

Sequence looks like this:

1. Send: Beacon request
2. RX: Beacon
3. reset radio
4. 3-way MLE handshake
  1. TX: Link request
  2. RX: Accept&Request
  3. TX: Accept
5. TX: Router Solicitation
6. RX: 2 packets, fragmented Router Advertisement. This is where problems starts to appear.

After the step

[2016-05-26 13:58] shahab5 commented on #75
Indeed, it should.
However, from the prints it is clear that it isn't initiating any TX after the RS (65 packet).
No packets were received by the PHY driver.

How can I know if there an ICMPv6 error occurred on de-fragmentation? Does the stack reports an error in this case?

[2016-05-31 12:27] svastm opened #80 "Static 6lowpan and error 11"
I have some trouble in using of the static 6lowpan example with the `DeviceServer v2.2.0-606` on my computer. Is it supported ? I use the frdm-k64f board with firefly shield and gateway.

the server starting well :
[code]

But the node don't receive the `SOCKET_DATA`.
[code]
The error code `11` refer to `SecureConnectionFailed`. I have fill my `security.h` file with my API keys, found on the ARM d

[2016-05-31 13:02] SeppoTakalo commented on #80
Hi @svastm
You cannot use security certificates generated by connector service for your own standalone mDS. Those are valid security certificates that connector uses to validate your device. Your standalone mDS have no knowledge of these certificates, therefore it should be rejecting them.

When testing with local server instance, all security features should be disabled.

[2016-05-31 15:14] svastm commented on #80
Ok I have missed some change in the updated branch. Now the security layer is disable by changing
[code]
 to
[code]
 in `mbedclient.c`. I assume that the default config of coAP for the mDS is working without any security (at least on UDP port 5683).

This port 5683 looks open in windows.
[code]
I'm still stuck at the same point, the error code changed to `6` aka `NetworkError`.

[2016-06-01 08:03] hasnainvirk commented on #80
@svastm 5683 is a secure port. Please use 5684 if you are not using secure communication.

[2016-06-01 08:08] kjbracey-arm commented on #80
Wrong way round - 5684 is secure.

Note that current code ignores the coap/coaps in the URL, and determines security entirely from the separate M2MSecurity API. The URL parsing is also not totally solid, but I suggest using a valid syntax that it does accept: coap://[fd00:ff1:ce0b:a5e0::1]:5683

IPv6 literal URLs should have the [], but older versions of the code didn't support this, which is why

[2016-06-01 09:50] betzw opened #81 "Cannot access http://connect.arm.com"
On the [device_server readme page](https://github.com/ARMmbed/mbed-client-example-6lowpan/tree/device_server#downloading-mbed-ds--arm-reference-app) you are referring to two software packages (mbed Device Server & Referennce / Home App) to download in order to setup the server side of the demo. Unfortunately the site http://connect.arm.com is not accessible from within my company (most likely due

[2016-06-01 11:59] ciarmcom commented on #81
ARM Internal Ref: ONME-2677

[2016-06-01 11:59] ciarmcom commented on #80
ARM Internal Ref: ONME-2678

[2016-06-01 12:08] svastm commented on #80
the [] trick did not solve the problem.
Because it's now marked as a network error, I opened wireshark and saw only ICMPv6 neighbor solicitation and advertisement but no coAP packet. So the problem don't come from the mDS config. I have tried to change the `sal-stack-nanostack` from `4.1.0` to `4.0.3` because the last update of GW_Binary was for this version but i still have the same result.

[2016-06-01 12:20] hasnainvirk commented on #80
can you please show me the output of "route -6 -n" command ?

[2016-06-01 12:30] hasnainvirk commented on #80
Also attach wirepas snapshots if possible.

[2016-06-01 12:38] SeppoTakalo commented on #80
After those latest changes, are you able to see `6Lowpan bootstrap ready, IP=...` message in clients log?

[2016-06-01 12:44] SeppoTakalo commented on #81
Hi @betzw

I have no idea of why connect.arm.com is generating SSL errors.
The link uses `http://` address but can you try with `https://`

There might be some HTTP redirection.

However, as this is not directly bug in this specific software package, I'm closing this bug here.

Please report back, if you still have errors. I'll then forward the information to IT team.

[2016-06-01 12:44] #81 closed

[2016-06-01 12:58] betzw commented on #81
Pls. forward this to your IT team!

Using `http` or `https` doesn't change anything as both end up in a secure connection setup which fails as described above!
An additional information you can forward to them is, that we are using a Zscaler based firewall, which "messes" around with certificates ...
I am copying also our contact in ARM which might help us accelerate finding a solution for this is

[2016-06-01 13:09] svastm commented on #80
Yes the message `6Lowpan bootstrap ready, IP=...` is still present in the gateway logs.
[code]

[2016-06-01 13:11] svastm commented on #80
Here a pcap of the icmpv6 packets. It begin after a reset of the gateway [6lowpan.zip](https://github.com/ARMmbed/mbed-client-example-6lowpan/files/293456/6lowpan.zip)

[2016-06-01 13:22] SeppoTakalo commented on #80
The `6Lowpan bootstrap ready, IP=...` should be present the client logs.

[2016-06-01 13:53] svastm commented on #80
In the client i have the following one:

[code]

[2016-06-06 07:48] betzw commented on #81
cc @nikapov-ST

[2016-06-07 11:38] SeppoTakalo commented on #80
Hi @svastm
Any updates on this one?
Seems that both your GW and client have succesfully established the network.

Can you try to ping the IPv6 addresses shown in log files:
`[DBG ][m6LND]: ND Access Point: fd00:ff1:ce0b:a5e0:0:ff:fe00:7a94` shows you the IPv6 address of the GW.
Try to ping that.

If it works, try pinging the 6LowPAN node address shown in line `[DBG ][m6LND]: GP IPv6: fd00:ff1:ce0b

[2016-06-07 11:47] SeppoTakalo commented on #79
I will close this from this example applications. This has been recorded into our Nanostack's backlog.

[2016-06-07 11:47] #79 closed

[2016-06-08 08:00] svastm commented on #80
Hello,
Does the GW implement ping ?
When i ping the gateway:
[code]
But if I change the adress for a non existing one. I have a `Destination host unreachable` error instead of `General failure`. Same result for the ping of the client.

Should i see something in the GW when the client send bytes ?

[2016-06-08 08:13] SeppoTakalo commented on #80
Yes, the GW and Node should both answer the ICMP Echo request (ping).

I'm not familiar of Windows, so I'm unsure what is causing the `General failure` but I have seen lots of these failures due the corporate firewall policy of some sort.

Can you do the tests on a Linux machine, or a machine with no firewalls installed/enabled? (on Windows, if restrictive policies are in place, you cannot disable

[2016-06-08 10:59] shahab5 commented on #75
Hi,

I am still stuck on this.
Can someone suggest anything else?

Thanks,
Shahab

[2016-06-09 08:04] SeppoTakalo commented on #75
Hi @shahab5
Do you have access to Nanostack source code?
If so, you might want to try to enable debugging traces and see what it is doing.
I believe most of the traces are enabled when you build with `yotta build -d`

[2016-06-10 03:54] shahab5 commented on #75
Hi @SeppoTakalo
Unfortunately, I don't have access to Nanostack source code.
Are there any debug binaries available for use?

Thanks,
Shahab

[2016-06-10 03:58] shahab5 commented on #75
What is the trigger event for the next Tx packet (Neighbour Solicitation) to be sent by nanostack?
Besides the Rx packets, is there any other thing which should occur for the Tx ?

Thanks,
Shahab

[2016-06-10 11:53] svastm commented on #80
Without firewall on an other machine, it works. So it was a firewall problem. Thank you very much for the support. I think you can mark this issue as resolved.

[2016-06-10 13:08] SeppoTakalo commented on #80
@svastm Nice to hear. Happy to help you.

[2016-06-10 13:08] #80 closed

[2016-06-15 10:33] TuomoHautamaki commented on #78
Hi @chikkaram can you please reply to Seppo's comment so we can get this further. Thanks

[2016-07-06 08:30] SeppoTakalo commented on #78
Closing this as there has been no updates or feedback for a long time.
With the given information, we are not able to provide any support for this.

[2016-07-14 09:08] LTEKuser01 opened #82 "Mbed 6LoWPAN gateway problem"
Hi all,

Just to have a whole picture:
I have build 6LoWPAN Thread network with 5 nodes.
I created additional resource (temperature) in the client code.
After some time (period cca. 1 day) system stops.
Serial communication with gateway stops. You can see this in log files: serial_GW_NOK_*.log
As the problem is probably in the gateway, trying to reach devices directly trough https://connector.mbed

[2016-07-14 11:59] ciarmcom commented on #82
ARM Internal Ref: ONME-2733

[2016-08-15 12:13] artokin commented on #82
Hi,
Sorry for long delay and thanks for reporting this issue.
It looks like there is a memory leak in the border router. Logfile "serial_GW_NOK_12_07" contains few "_out of memory_" and "_No mem_" lines before the gateway stops working.
Best Regards,
Arto

[2016-08-16 15:38] haishengliu opened #85 "can not see connected devices under the website https://connector.mbed.com/"
Hi,

By following this tutorial, I'm not able to see connected devices on https://connector.mbed.com/
Do we need the ISP supports fully IPV6? We do proceed a number of tests with different ISPs with no success. Could you please give us more detail to work around?
Thank you very much for your help

Haisheng

- dowload the gatewayThreadDynamic.bin file on the 6loWPAN gateway router.
 - generate a se

[2016-08-19 13:29] artokin commented on #85
Hi,

I think your setup is correct but the gateway is not able to connect to the connector service. To me this looks like an ISP issue as gateway router is missing traces that indicates bootstrap completion. Are you able to ping api.connector.mbed.com from a laptop that is connected to your ISP?

btw, would you please try our latest (mbed OS 5) example application at: https://github.com/ARMmbed/mb

[2016-08-19 13:53] haishengliu commented on #85
Hi,
Thank you very much for your help.
Yes, I can ping  api.connector.mbed.com with a laptop (IPV4 & 6) connected to the same network. It works just fine. We don't get idea how to see the switch connected. We are wondering if it is necessary to have a local IPV6 network.   I am going to try another application as you indicated.

Thanks again

Best regards

Haisheng

[2016-10-06 07:57] TuomoHautamaki commented on #82
Status check done and planning done howto proceed/solve this issue. So far we haven't had enough bandwidth to  build similar testing setup for this sample application.

[2016-10-10 11:39] stevew817 commented on #75
Was this issue ever resolved? I'm seeing the same thing on my end when using the LOWPAN_HOST binary and our own RF PHY. Nanostack bails with a [DBG ][m6LND]: app_parse_network_event() 8.
Using LOWPAN_ROUTER works fine.

[2016-10-10 12:53] SeppoTakalo commented on #75
@stevew817
This is probably a separate issue.
When using `LOWPAN_HOST` binary, you should set Mesh API to use also host mode instead of router (default).
See: https://github.com/ARMmbed/mbed-os/tree/master/features/nanostack/FEATURE_NANOSTACK/mbed-mesh-api#module-configuration

So in `mbed_app.json` you should set the key: `mbed-mesh-api.6lowpan-nd-device-type` to value `LOWPAN_HOST`

[2016-10-10 13:03] stevew817 commented on #75
@SeppoTakalo Thanks for taking the time to answer! I just (about a minute ago) figured out the same thing by tracing function calls. Maybe this deserves a mention in the examples? Perhaps by adding `"mbed-mesh-api.6lowpan-nd-device-type" : "NET_6LOWPAN_ROUTER"` as a verbose option in the example's config file (where LOWPAN_ROUTER in the features also needs to be changed to LOWPAN_HOST) instead of

[2016-10-10 13:07] SeppoTakalo commented on #75
@stevew817 Yes. You are right, this needs to be documented.
We are in process of integrating the mbed OS 5.2 stuff into master and once we release that, we update our examples also. They will mention this ROUTER/HOST switching.

[2016-10-21 10:32] #85 closed

[2016-10-24 06:59] artokin commented on #82
Hi,

I was not able to reproduce the problem using the new gateway binaries available in https://github.com/ARMmbed/mbed-os-example-client/tree/master/GW_Binary. After 1 day of usage no memory leak was detected and memory consumption was steadily between 21-22kBytes while peak memory consumption was 26kBytes. I didn't try with old binaries that were originally used in this issue.

@LTEKuser01 , wo

[2016-11-08 08:56] artokin commented on #82
Hi,

Closing this issue as we can't reproduce the error with the new gateway binaries available in https://github.com/ARMmbed/mbed-os-example-client/tree/master/GW_Binary.

This repository is superseded in mbed OS 5.2. Please file a new issue to repository https://github.com/ARMmbed/mbed-os-example-client if issues are found from border router binaries.

Best regards,
Arto

[2016-11-08 08:56] #82 closed

[2016-11-12 11:31] #47 closed

[2019-04-24 11:53] teetak01 commented on #75
Closing, repository is being archived.

[2019-04-24 11:53] #75 closed

[2019-04-24 11:54] teetak01 commented on #78
Closing, repository is being archived.

[2019-04-24 11:54] #78 closed